<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465850348198-p54pi6s0pvl8h14stna12kp2e79vbk06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465850348198-p54pi6s0pvl8h14stna12kp2e79vbk06</string>
	<key>API_KEY</key>
	<string>AIzaSyBiAlP9B2VMH2E0qZY4kuKUDBzChjG85DY</string>
	<key>GCM_SENDER_ID</key>
	<string>465850348198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aoshima.RadarChart-debug</string>
	<key>PROJECT_ID</key>
	<string>radarchart-aocm</string>
	<key>STORAGE_BUCKET</key>
	<string>radarchart-aocm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465850348198:ios:6f44bbc63a0c4419a2fa67</string>
</dict>
</plist>